.fakeimg {
  height: 200px;
  background: #aaa;
};
a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  };
 a:active, a:hover {
   padding: 3px;
  };